<!DOCTYPE html>
<html>
<head>
<title>Notation Explorer</title>
<link rel="stylesheet" type="text/css" href="index.css">
<meta charset="UTF-8">
<meta name="author" content="hyp_cos">
</head><body><script src="Vue.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
<script>var register=[]; var analysis_register=[]; </script>
<div id="app">
   <div class="tab">
      <button v-for="(tab,idx) in tab_names" @mousedown="current_tab=idx" :disabled="current_tab==idx">{{tab}}</button>
   </div>
   <button @mousedown="show_hotkeys()">Show hotkeys</button>
   <button @mousedown="reset_list()">Reset the list</button>
   <button @mousedown="export_xlsx()">Export analysis</button>
   <button @mousedown="import_xlsx()">Import analysis</button>
   <input type="file" id="hiddenFileInput" style="display: none;" accept=".xlsx, .xls" ref="file_input"
          @change="handle_import_file"
   >
   <div>
      <input type="checkbox" value="false" v-model="diagram_follow"/> Diagram follows
      <input type="range" min="-5" max="5" step="0.1" v-model="diagram_scale"
             @focus="showCanvas = true" @blur="showCanvas = false"
      > Diagram size: {{diagram_scale}}
      <br>
      <input type="checkbox" value="true" v-model="use_alternative"/> Use alternative (short) fundamental sequence <br>
   </div>
   <div>
      Navigate to notation: <input type="text" ref="navigate_input" @keydown="navigate_keydown"> <button @mousedown="(e) => {e.preventDefault(); find_notation()}"> Find </button>
   </div>
   <div>
      Expansion tier: <button @mousedown="decr_tier()">-</button> {{tiername}} <button @mousedown="incr_tier()">+</button>
   </div>
   <div>
      Auto expansion FS terms limit: <button @mousedown="length_limit--">-</button> {{length_limit}} <button @mousedown="length_limit++">+</button>
   </div>
   <div>
      FS terms shown in tooltip: <button @mousedown="decrFS()">-</button> {{FS_shown[current_tab]}} <button @mousedown="incrFS()">+</button>
   </div>
   <div>
      Analysis notation:
      <select v-model="current_analysis_index">
         <option disabled :value="-1"/>
         <option v-for="(name, idx) in analysis_names" :value="idx">{{ name }}</option>
      </select>
   </div>
   <component :is="current_notation_name" :subitems="datasets[current_tab].subitems" ref="list"></component>
   <div class="floating-canvas" id="floatingCanvas" :style="{ left: pCanvas.x + 'px', top: pCanvas.y + 'px' }" v-show="showCanvas && !pCanvasModifier.hide">
      <canvas id="hoverCanvas" width="10" height="10" :style="{ width: pCanvasScaled.w + 'px', height: pCanvasScaled.h + 'px' }"/>
   </div>
   <fs-dialog v-model="show_fs_dialog" :init="current_analysis_notation.fs_default" @confirm="calc_analysis_fs"/>
</div>
<script src="omega-Y.js"></script>
<script src="omega-Y-magma.js"></script>
<script src="1-Y.js"></script>
<script src="BM.js"></script>
<script src="BHM.js"></script>
<script src="BSM.js"></script>
<script src="BLM.js"></script>
<script src="CM.js"></script>
<script src="wMM.js"></script>
<script src="TomegaMN.js"></script>
<script src="TomegaDMN.js"></script>
<script src="MomegaMN.js"></script>
<script src="MTomegaMN.js"></script>
<script src="Domega2MN.js"></script>
<script src="Aomega2MN.js"></script>
<script src="Tomega^omegaMN.js"></script>
<script src="DEN.js"></script>
<script src="DEN2.js"></script>
<script src="DEN3.js"></script>
<script src="TON-main.js"></script>
<script src="TON-DoR.js"></script>
<script src="TON-DRP.js"></script>
<script src="TON-I.js"></script>
<script src="TON-IBP.js"></script>
<script src="TON-MC.js"></script>
<script src="TON-MPC.js"></script>
<script src="TON-DRC.js"></script>
<script src="TON-DRPC.js"></script>
<script src="aSAN-1.js"></script>
<script src="aSAN-2.js"></script>
<script src="aSAN-3.js"></script>
<script src="aSAN~3+.js"></script>
<script src="LMN.js"></script>
<script src="LON.js"></script>
<script src="HSPN.js"></script>
<script src="cOCF.js"></script>
<script src="framework.js"></script>
</body>
</html>